---
layout: '../layouts/Layout.astro'
title: 'Guatafac'
description: 'Guatafac'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-slate-900 min-h-screen flex items-center justify-center">
    <header class="flex items-center justify-center">
        <a href="" class="bg-white  text-black  inline-flex min-w-50 h-10 items-center justify-center rounded   hover:bg-gray-300">Click</a>
    </header>
</body>
</html>
