---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<main>
	<Menu />
		<section class="bg-black w-screen h-screen relative overflow-hidden">
			<div class="slides h-full">
				<div class="slide-1 h-full ">
					<div class="text-white slide-1__content max-w-[40.625rem] z-3 pb-0 font-medium absolute top-[55%] left-12">
						<div class="slide-1__content-dots h-[0.75rem]">
							<button id="1" class="bg-white w-3 h-3 rounded-full"></button>
							<button id="2" class="bg-white w-3 h-3 rounded-full"></button>
							<button id="3" class="bg-white w-3 h-3 rounded-full"></button>
						</div>
						<h1 class="text-4xl leading-[3.5rem] py-6">Model Y Starting at $37,490 After Federal Tax Credit</h1>
						<h2 class="text-[0.875rem]">
                            <p class="pb-[0.875rem]">Eligible buyers qualify for a $7,500 federal tax credit. Applied at time of Model Y delivery.
                                <a href="">See Details</a>
                            </p>
                        </h2>
						<div class="slide-1__content-buttons ">
							<a href="" class="bg-white text-black inline-flex min-w-50 h-10 items-center justify-center rounded">Shop Available</a>
							<a href="">Demo Drive</a>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</Layout>


